.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    font-family: 'Trebuchet MS';
    background-color: #00C9FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 10px rgba(88, 86, 86, 0.2);
    margin: auto;
}

span {
    color: #000;
}

.title {
    width: 30%;
    margin: auto;
}

.title h2 {
    color: #FFFFFF;
}

.links {
    width: 75%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 40px;
    font-size: 19px;
}

.navbar a:hover {
    color: #000;
    font-size: 21px;
    transition: 0.2s;
    border-bottom: 2px #000 solid;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggle button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    margin-right: 20px;
}

.toggle button img {
    width: 50px;
    height: 50px;
}

#open {
    height: 100vh;
    transition: 0.9s;
    background-color: #6aacdb;
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;

}

#open .links a {
    text-align: justify;
}

#open .links a {
    width: 100%;
    text-align: center;
}

#close {
    transition: 0.5s;
}

@media only screen and (max-width: 900px) {
    .navbar {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .navbar .links {
        width: 100%;
    }

    .navbar {
        height: 95px;
    }

    .title h2 {
        padding-left: 35%;
    }
}


@media only screen and (max-width: 600px) {

    #open .toggle {
        display: block;
        margin-top: 23px;
    }

    .title h2 {
        padding-left: 35%;
    }

    #close .toggle {
        display: block;
        margin-top: 23px;
    }

    #close a {
        display: none;
    }

    .title {
        margin-top: 1px;
    }
}

@media only screen and (min-width: 600px) {
    .toggle {
        display: none;
    }

    #open {
        height: 100px;
    }

    #open .links {
        flex-direction: row;
    }
}